nav {
  background: lightslategray;
  height: 60px;
  display: flex;
  list-style-type: none;
  align-content: center;
  padding: 0;
}
a {
  height: 100%;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
}
.selected {
  background: white;
}
a.button:not(.selected):hover {
  background: pink;
}
img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}
