nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
}

.app-name {
  margin: 0 1rem;
}

.menu {
  display: none;
}

.links {
  display: flex;
}

.link {
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: gray;
}

.link.selected,
.link:hover {
  color: #01A0D3;
  border-bottom: 1px solid #01A0D3;
}

@media (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu-line {
    height: 0.18rem;
    width: 2rem;
    background-color: black;
    border-radius: 10px;
    margin: 3px 0;
  }

  .links {
    flex-direction: column;
    order: 2;
    align-items: center;
    width: 100%;
  }

  .hide {
    display: none;
  }
}
