<div>
  <h1>Willkommen bei QuitMate</h1>
  <h2>Deine Lösung für die Kontrolle über das Rauchen</h2>

  <p>Mit QuitMate machst du den ersten Schritt in Richtung eines gesünderen und rauchfreien Lebens.
    Die App unterstützt dich dabei, deine Rauchgewohnheiten besser zu verstehen und gezielt zu reduzieren – bis hin
    zur vollständigen Raucherentwöhnung.</p>

  <h2>Die Funktionen von QuitMate auf einen Blick</h2>
  <ul>
    <li>Individueller Entwöhnungsplan: Erstelle einen persönlichen Plan, um dein Ziel zu erreichen – sei es die
      Reduktion oder das komplette Aufhören.
    </li>
    <li>Grenzwerte setzen: Kontrolliere deinen Konsum, indem du feste Grenzen festlegst.</li>
    <li>Statistiken und Fortschritt: Analysiere dein Verhalten und beobachte deine Fortschritte in Echtzeit.</li>
    <li>Live-Aktivitäten: Behalte den Überblick über deinen Konsum direkt auf dem Start- oder Sperrbildschirm.</li>
    <li>Geräteintegration: Verbinde bis zu fünf IQOS-Geräte für eine automatische Konsumerfassung.</li>
    <li>Kompatibilität mit Apple-Geräten: Nutze die WatchOS-App, Widgets und iOS-Shortcuts für ein nahtloses Erlebnis.
    </li>
  </ul>
  <button>Auf AppStore herunterladen</button>
</div>
